<h1>Ethno WebSite</h1>
<div class="navbar">
<%= link_to "À propos de nous", about_path  %>
<%= link_to "Nos Ressources", ressources_path  %>
<%= link_to "Nos articles!", articles_path  %>

<%= link_to "Contact", contact_path  %>
<%= link_to "Supportez-nous!", support_path  %>

</div>