<div id="logo">
  <%= link_to image_tag("logo.png", height: 150), root_path%>
</div>
<div class="navbar">
  <div>
    <%= link_to "À propos de nous", about_path  %>
    <%= link_to "Nos Ressources", ressources_path  %>
    <%= link_to "Nos articles!", articles_path  %>

    <%= link_to "Contact", contact_path  %>
    <%= link_to "Supportez-nous!", support_path  %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path  %>
      <%= link_to "Sign Up", new_user_registration_path  %>
    <% end %>
  </div>
</div>
<div class="container-flex">
  <%= image_tag("drawing2.png") %>
</div>